.edit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-areas:
    "error error"
    "primary students"
    "tasks students";
  padding: 10px;
  gap: 10px;
}

.primary-conf {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  grid-area: primary;
}

.students-list {
  grid-area: students;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-field {
  display: flex;
  flex-direction: column;
}

#descr {
  resize: none;
  min-height: 200px;
}

.contest-tasks {
  grid-area: tasks;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.primary-conf-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contest-tasks-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.student-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.student-head {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.error-msg {
  grid-area: error;
  margin: 0;
  padding: 0;
}

.box {
  padding: 10px;
}

.delete-btn {
  text-decoration: none;
  color: var(--dark-color);
  padding: 5px;
  background-color: var(--light-color);
  transition-duration: 0.2s;
}

.delete-btn:hover {
  opacity: 0.8;
}