.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "club future_contests finished_contests"
    "messages";
}

.contests-container {
  display: flex;
  flex-direction: column;
}