.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content fit-content;
  grid-template-areas:
    "club future_contests finished_contests"
    "messages messages messages";
  gap: 10px;
  padding: 10px;
}

.contests-container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 50vh;
  overflow-y: scroll;
}

#club {
  grid-area: club;
}

#future_contests {
  grid-area: future_contests;
}

#finished_contests {
  grid-area: finished_contests;
}

#messages {
  grid-area: messages;
}

.messages-container {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow-y: scroll;
  gap: 5px;
}

.message {
  border: 1px solid black;
  padding: 10px;
}