body {
  min-height: 100vh;
}

.navbar {
  height: 8vh;
}

.container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.register-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}