body {
  min-height: 100vh;
}

.navbar {
  height: 8vh;
}

.avatar {
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  justify-content: center;
  align-items: center;
}

.settings-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 350px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}