:root {
  --dark-color: #222;
  --light-color: #eee;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.box {
  box-shadow: 0px 0px 10px var(--dark-color);
  background-color: var(--dark-color);
  color: var(--light-color);
}